@elasticsuite-icons-admin__font-name-path: '@{baseDir}fonts/elasticsuite/elasticsuite';
@elasticsuite-icons-admin__font-name : 'elasticsuite';

.lib-font-face(
    @family-name:@elasticsuite-icons-admin__font-name,
    @font-path: @elasticsuite-icons-admin__font-name-path,
    @font-weight: normal,
    @font-style: normal
);

.admin__menu .item-elasticsuite-menu.parent.level-0 > a:before {
    font-family: @elasticsuite-icons-admin__font-name;
    content: "\e900";
}

fieldset.radioset-tooltip {
    .admin__field-tooltip {
        margin-top: 0;
        width: auto;
    }
}

#smile_elasticsuite_core_base_settings_indices_settings_custom_number_of_shards_and_replicas_per_index th {
    vertical-align: text-top;
}

.elasticsuite {
    &.config-comment {
        border-color: @color-gray80;
        border-style: solid;
        border-width: 1px 0;
        margin: @indent__l 0;
        padding: @indent__m;
    }

    &.config-comment-title {
        margin-bottom: @indent__xs;
        font-weight: bold;
    }

    &.config-comment-content {
        line-height: @line-height__l;
    }
}
