<relevance xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="urn:magento:module:Smile_ElasticSuiteCore:etc/elasticsuite_relevance_initial_config.xsd">
    <default>
        <smile_elasticsuite_relevance>
            <cutoff_frequency_configuration>
                <cutoff_frequency>0.2</cutoff_frequency>
            </cutoff_frequency_configuration>
        </smile_elasticsuite_relevance>
    </default>
    <containers>
        <container name="quick_search_container">
            <smile_elasticsuite_relevance>
                <cutoff_frequency_configuration>
                    <cutoff_frequency>0.5</cutoff_frequency>
                </cutoff_frequency_configuration>
            </smile_elasticsuite_relevance>
        </container>
    </containers>
    <stores>
        <container name="quick_search_container" store_code="fra_2nd">
            <smile_elasticsuite_relevance>
                <cutoff_frequency_configuration>
                    <cutoff_frequency>0.7</cutoff_frequency>
                </cutoff_frequency_configuration>
            </smile_elasticsuite_relevance>
        </container>
    </stores>
</relevance>
