<div class="field search" data-bind="if: hasMoreItems">
    <div class="control">
        <input id="search"
               type="text" 
               data-bind="attr: {placeholder: searchPlaceholder}, event: {keyup: onSearchChange.bind(this), focusout: onSearchFocusOut}" />
    </div>
</div>
 
<ol class="items" data-bind="foreach: getDisplayedItems()">
    <li class="item">
        <a data-bind="attr: {href:url}, visible: count >= 1">
            <input type="checkbox"
                   data-bind="checked: is_selected" 
                   onclick="this.parentNode.click();" />
            <span data-bind="html: label"></span>
            <span class="count" data-bind="text: count"></span>
        </a>
        
        <div data-bind="visible: count < 1">
            <span data-bind="html: label"></span>
            <span class="count" data-bind="text: count"></span>
        </div>
    </li>
</ol>

<div class="no-results-message" data-bind="if: fulltextSearch() && !hasSearchResult()" class="empty">
   <p data-bind="html: getSearchResultMessage()"></p>
</div>

<div class="actions" data-bind="visible: enableExpansion()">
    <div class="secondary">
        <a class="action show-more" data-bind="visible: displayShowMore(), event: {click: onShowMore}"><span data-bind="text: showMoreLabel"></span></a>
        <a class="action show-less" data-bind="visible: displayShowLess(), event: {click: onShowLess}"><span data-bind="text: showLessLabel"></span></a>
    </div>
</div>