parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    paths:
        - src

includes:
    - vendor/smile/magento2-smilelab-phpstan/extension.neon
