parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
            reportUnmatched: false
    paths:
        - src

includes:
    - vendor/smile/magento2-smilelab-phpstan/extension.neon
